docker.enabled = true
process.container = 'levim/vcf2maf:1.0'

params {
  somatic_vcf = false
  tumour_id = false
  normal_id = false
  vep_cache_version = 89
  vep_forks = 2
  buffer_size = 200
  species = 'homo_sapiens'
  outdir = 'results'
  genomes {
    'GRCh37' {
      fasta = 'Homo_sapiens.GRCh37.75.dna.primary_assembly.fa'
      //fasta = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta'
    }
    'GRCh38' {
      fasta = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
    }
  }
}